#dd_area {
    margin:10px;
    padding:10px;
    border:solid 1px blue; 
}

#dd_area input[type="file"] {
    display: none;
}

#tmp_files {
    display: none;
}

.drop_area_on{
    background-color:#ccf7ff;
}

.drop_area_off{
    background-color: #f5f7ff; 
}
