---
---

@import "{{ site.theme }}";
.page-header {
    background-color: #bebebe;
    background-image: url(../../images/material/header.jpg); //このファイルがあるパスに注意
    background-repeat: no-repeat;
    background-position: center;
    //background-size: cover;
    //background-image: linear-gradient(45deg, #0055ff, #55dd77);
}
figure {
    margin-bottom: 40px;
}
