---
---

$section-headings-color: #000000;

@import "{{ site.theme }}";
.page-header {
  background-color: #ff0000;
}
page-header {
  background-color: #ff0000;
}
#page-header {
  background-color: #ff0000;
}
